body,
html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  height: 80px;
  border: 1px transparent black;
  box-shadow: 0 4px 5px -2px blue;
  position: fixed;
  background-color: white;
  width: 100vw;
}

h1 {
  color: darkgreen;
  margin: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: right;
}

nav a {
  color: darkgray;
  text-decoration: none;
  padding: 15px 5px;
  margin: 15px;
  display: flex;
  text-align: center;
  justify-content: right;
}

nav a:hover {
  background-color: black;
}

nav li {
  float: right;
}

section {
  scroll-snap-align: start;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.pageOne {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .pageOne {
    flex-direction: column;
  }
  
}

#name {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pageTwo {
  display: flex;
  box-sizing: border-box;
  background-color: blue;
  width: 60%;
  height: 60%;
}

.pageThree {
  display: flex;
  box-sizing: border-box;
  width: 350px;
  height: 250px;
  align-items: center;
  flex-direction: column;
}


.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

photo {
  display: flex;
}

#logo {
  flex: 1;
  width: 30px;
  margin: 10px;
  padding: 10px;
}

#photo {
width: 350px;
height: 350px;
border-radius: 250px 750px 250px 750px /
750px 250px 750px 250px;
animation: wobble 10s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}